src/main/app/training.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<spring:beans>
		<spring:bean name="connectionFactory"
			class="org.apache.activemq.ActiveMQConnectionFactory">
			<spring:property name="brokerURL" value="tcp://localhost:61616" />

			<spring:property name="redeliveryPolicy">
				<spring:bean class="org.apache.activemq.RedeliveryPolicy">
					<spring:property name="initialRedeliveryDelay"
						value="20000" />
					<spring:property name="redeliveryDelay" value="20000" />
					<spring:property name="maximumRedeliveries" value="10" />
				</spring:bean>
			</spring:property>
		</spring:bean>
	</spring:beans>

	<jms:connector name="Active_MQ" connectionFactory-ref="connectionFactory"
		doc:name="JMS" />


	<flow name="trainingFlow">
		<jms:inbound-endpoint connector-ref="Active_MQ"
			doc:name="JMS" topic="muleNotification" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
	</flow>
</mule>
